html {
    --primary: #FF6666;
    --font: 'Andale Mono', 'Menlo', 'Courier New', Courier, monospace;
    --dark: #222;
    --gray: #D8D8D8;
    --white: #FFF;
    --darkGray: #A2A2A2;
}

body {
    min-height: 100vh;
    background-color: black;
    font-family: var(--font);
    background-repeat: no-repeat;
    background-position: calc(100% + 150px) calc(100% + 50px);
    background-size: 450px;
    padding: 20px;
}

h1 {
    color: greenyellow;
    font-family: 'Press Start 2P', cursive;
    border: none;
    padding: 20px;
    margin-top: 0;
    font-size: 2.8em;
    font-weight: 100;
}

label {
    margin: 20px;
    color: var(--darkGray);
}

input {
    display: block;
    font-family: var(--font);
    font-size: 1.5em;
    padding: 20px;
    font-weight: 100;
    border: 3px solid greenyellow;
    margin: 20px;
    background-color: rgb(75, 75, 75);
    width: calc(100% - 65px);
}

#encrypted {
    border-color: greenyellow;
    background-color: var(--dark);
    color: var(--white);
}

.mainContainer {
    max-width: 1000px;
    margin: 0 auto;
}

hr {
    border: 1px solid greenyellow;
    margin: 50px 0px;
}

.laurel {
    width: 120px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
